@import "libs/keyframes.scss";
@import "libs/fonts.scss";

$primary: white;
$secondary: #333;
$tertiary: #fbb32c;
//$tertiary: #cc7013;

html {
  font-size: 16px;
}
* {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
}

header {
  min-height: 100vh;
  background: url("./img/background_header.jpg") no-repeat fixed;
  background-size: cover;
  color: $primary;
  padding: 0 14% 0 14%;
  .navbar {
    padding-top: 5vh;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5rem;
    letter-spacing: 0.585rem;
    .navLinkPadding {
      padding-left: 8.54rem !important;
    }
    .nav-link {
      color: $primary !important;
      &:hover {
        color: $tertiary !important;
      }
    }
    .navLink1 {
      animation: fadeIn 2000ms 2000ms both;
    }
    .navLink2 {
      animation: fadeIn 2000ms 2500ms both;
    }
    .navLink3 {
      animation: fadeIn 2000ms 3000ms both;
    }
  }
  .text-name {
    font-family: 'Bebas', sans-serif;
    font-size: 13.73rem;
    margin-top: 5vh;
  }
  .text-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: 0.67rem;
    margin-top: 5vh;
    animation: fadeInUp 2000ms forwards;
  }
  .line-header {
    margin-top: 5vh;
    width: 15.7rem;
    border-bottom: 0.4rem $tertiary solid;
    animation: fadeInRightPol 2000ms forwards ease-out;
  }
  .text-welcome{
    margin-top: 5vh;
    font-size: 2.4rem;
    letter-spacing: 0.335rem;
    animation: fadeIn 2000ms 1000ms both;
  }
  .text-introduction {
    max-width: 100%;
    width: 60rem;
    margin-top: 5vh;
    text-align: justify;
    font-size: 1.5rem;
    animation: fadeIn 2000ms 1500ms both;
    padding-bottom: 5vh;
  }
  .downArrow {
    width: 100%;
    min-height: 25px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.8rem;

    margin: 0 auto;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeInDown 2000ms 3500ms both;
    .downArrowSvg {
      height: 5vh;
      min-height: 30px;
    }
    .downArrowPath {
      fill: white;
    }
  }
}


.mes-realisations {
  //background-color: red;
  padding: 0 14% 0 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-evenly;
  justify-content: space-around;

  h2 {
    padding: 5vh 0 5vh 0;
    //font-size: 2.34rem;
    font-size: 2.02rem;
    letter-spacing: 0.585rem;
  }

  .nav-tabs {
    margin-bottom: 5vh;
    border-color: $tertiary;

    .nav-link {
      color: $secondary;

      &:hover {
        //border-color: $tertiary;
        color: $tertiary;
        border-color: $primary $primary $tertiary $primary;
      }
    }

    .nav-link.active {
      color: $tertiary;
      border-color: $tertiary $tertiary $primary;
      //text-decoration: underline;
    }
  }

  .container-fluid {
    padding-bottom: 12.3vh;

    .figure {
      margin-bottom: 2.5vh;
      border: $secondary 1px solid;
      box-shadow: 0 0 1px $secondary;
      transition: transform 100ms ease-in-out;
      position: relative;

      &:hover {
        transform: scale(1.1);

        &::before {
          background-color: rgba(251, 179, 44, 0.9);
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
        }

        &:hover .text-realisation {
          display: block;
        }
      }

      .figure-img {
        margin-bottom: 0;
        display: block;
        width: 100%;
        height: auto;
      }

      .text-realisation {
        color: $secondary;
        font-size: 1.5rem;
        padding: 9rem 1rem 9rem 1rem;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: none;
      }
    }
  }
  .pagination {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    .dots {
      width: 12px;
      height: 12px;
      border: 1px $secondary solid;
      border-radius: 50px;
      margin: 0 22px 0 22px;
      cursor: pointer;
    }
    .dot-full {
      background-color: $secondary;
    }
    .dot-empty {
    }
  }
  .mes-realisations-empty {
    display: none !important;
  }
}

.a-propos {
  min-height: 100vh;
  background: url("./img/background_a-propos_filtre.jpg") no-repeat fixed;
  background-size: cover;
  padding: 0 14% 0 14%;
  color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-evenly;
  justify-content: space-around;
  .a-propos-content {
    padding: 7.5vh 0 0 0;
    display: flex;
    //align-items: flex-start;
    //justify-content: space-evenly;
  }
  .texts-a-propos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //justify-content: space-evenly;
    justify-content: space-around;
  }
  h2 {
    //padding: 2.5vh 0 0 0;
    font-size: 2.02rem;
    letter-spacing: 0.585rem;
  }
  p {
    padding: 0 0 5vh 0;
    font-size: 1.5rem;
    margin-top: 5vh;
    text-align: justify;
  }
  .picture-a-propos {
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    //justify-content: space-evenly;
    img {
      width: 75%;
      //height: 100%;
      border: 0.4rem $tertiary solid;
    }
    .a-propos-title-forPhone {
      display: none;
    }
  }

  .contactSection {
    padding: 0 0 5vh 0;
    .buttonContact {
      //width: 100%;
      background-color: $tertiary;
      font-size: 2.02rem;
      letter-spacing: 0.585rem;
      color: $primary;
      border: none;
      border-radius: 50px;
      padding: 1rem 6rem 1rem 6rem;
      transition: transform 100ms ease-in-out;
      &:hover {
        transform: scale(1.1);
        background-color: $tertiary;
        color: $secondary;
        //box-shadow: 0 0 10px $primary;
      }
      &:focus {
        box-shadow: none;
      }
      &:not(:disabled):not(.disabled):active {
        background-color: $tertiary;
        color: $primary;
        box-shadow: none;
      }
    }
    .buttonContactForPhone {
      display: none;
    }
  }
}
.modalContact {
  text-align: center;
  .modal-title {
    margin: auto;
  }
  .close {
    position: absolute;
    right: 10px;
  }
}
.contactForm {
  padding: 20px;
  color: $secondary;
  border-color: $tertiary;
  .btnContactForm {
    border-radius: 50px;
    width: 30%;
    background-color: $tertiary;
    border-color: $tertiary;
    //color: $secondary;
    //transition: transform 100ms ease-in-out;
    &:hover {
      //transform: scale(1.1);
      background-color: $tertiary;
      border-color: $tertiary;
      color: $secondary;
    }
    &:focus {
      background-color: $tertiary;
      border-color: $tertiary;
      box-shadow: none;
    }
    &:not(:disabled):not(.disabled):active {
      background-color: $tertiary;
      border-color: $tertiary;
      color: $primary;
      box-shadow: none;
    }
  }
  .form-control {
    letter-spacing: 1px;
  }
}

footer {
  //margin-top: -40px;
  padding: 0 2rem 0 2rem;
  box-shadow: 0 0 10px black;
  background: url("./img/background_a-propos_filtre.jpg") no-repeat fixed;
  background-size: cover;
  .text-footer {
    height: 40px;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    .text-pol-thomas {
      color: $tertiary;
    }
    .text-mentions-legales {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.mentions-legales-content {
  text-align: left;
  padding: 0 1rem 0 1rem;
  h2, p, b, a, strong, ul, li, h3, p#text  {
    letter-spacing: 1px;
  }

}

@import "libs/mediaQueries";
