@import "libs/keyframes.scss";
@import "libs/fonts.scss";

$primary: white;
$secondary: #333;
$tertiary: #fbb32c;

html {
  font-size: 16px;
}
* {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
}

header {
  height: 100vh;
  background: url("./img/background_header.jpg") no-repeat fixed;
  background-size: cover;
  color: $primary;
  padding: 0 14% 0 14%;
  .navbar {
    padding-top: 5vh;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.61rem;
    letter-spacing: 0.585rem;
    .navLinkPadding {
      padding-left: 4rem !important;
    }
    .nav-link {
      color: $primary !important;
      &:hover {
        color: $tertiary !important;
      }
    }
    .navLink1 {
      animation: fadeIn 2000ms 2000ms both;
    }
    .navLink2 {
      animation: fadeIn 2000ms 2500ms both;
    }
    .navLink3 {
      animation: fadeIn 2000ms 3000ms both;
    }
  }
  .text-name {
    font-family: 'Bebas', sans-serif;
    font-size: 14.5rem;
    margin-top: 5vh;
  }
  .text-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.66rem;
    letter-spacing: 0.67rem;
    margin-top: 5vh;
    animation: fadeInUp 2000ms forwards;
  }
  .line-header {
    margin-top: 5vh;
    width: 19.9rem;
    border-bottom: 0.8rem $tertiary solid;
    animation: fadeInRight 2000ms forwards ease-out;
  }
  .text-welcome{
    margin-top: 5vh;
    font-size: 3.17rem;
    letter-spacing: 0.335rem;
    animation: fadeIn 2000ms 1000ms both;
  }
  .text-introduction {
    max-width: 100%;
    width: 60rem;
    margin-top: 5vh;
    text-align: justify;
    font-size: 1.5rem;
    animation: fadeIn 2000ms 1500ms both;
  }
}

.mes-realisations {
  min-height: 100vh;
  padding: 0 14% 0 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: auto;
  h2 {
    padding: 5vh 0 5vh 0;
    font-size: 1.61rem;
    letter-spacing: 0.585rem;
  }
  .container-fluid {
    padding-bottom: 5vh;
    .figure {
      margin-bottom: 2.5vh;
      border: #333 1px solid;
      box-shadow: 0 0 1px #333;
      transition: transform 100ms ease-in-out;
      position: relative;
      &:hover {
        transform: scale(1.1);
        &::before {
          background-color: rgba(251, 179, 44, 0.9);
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
        }
        &:hover .text-realisation{
          display: block;
        }
      }
      .figure-img {
        margin-bottom: 0;
        display: block;
        width: 100%;
        height: auto;
      }
      .text-realisation {
        color: $secondary;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: none;

      }
    }
  }
}

.a-propos {
  height: 100vh;
  background: url("./img/background_a-propos_filtre.jpg") no-repeat fixed;
  background-size: cover;
}

footer {
  box-shadow: 0 0 10px black;
  background: url("./img/background_a-propos_filtre.jpg") no-repeat fixed;
  background-size: cover;
  &::before {
    background:rgba(0, 0, 0, 0.1);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
  }
  .text-footer {
    height: 40px;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    span {
      color: $tertiary;
    }
  }
}

@import "libs/mediaQueries";
